<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SmartWorkstation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheet.css">
    <link href='https://fonts.googleapis.com/css?family=Galada' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>
    <div class="header">Welcome to SmartStation</div>
    <div class="calign" id="root">
            <div class="card d-block p-2">
                    <h3 class="card-header">Start a new session</h3>
                <form class="card-body">
                <div class="form-group row">
                  <label for="username" class="control-label col-sm-4 col-form-label" style="font-family:Galada"><b>User Name</b></label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control" id="username" placeholder="Please enter your name" width="400px" v-model="newSession.username">
                  </div>
                </div>
                <div class="form-group row">
                  <label for="session-name" class="control-label col-sm-4 col-form-label" style="font-family:Galada"><b>Session Name</b></label>
                  <div class="col-sm-7">          
                    <input type="text" class="form-control" id="session-name" placeholder="Please enter your focus for this session"  v-model="newSession.sessionName">
                  </div>
                </div>
                <div class="form-group row">
                        <label for="goals" class="control-label col-sm-4 col-form-label" style="font-family:Galada"><b>Goals</b></label>
                        <div class="col-sm-7">          
                          <input type="text" class="form-control" id="goals" placeholder="Please enter your goals for this session" v-model="newSession.goals">
                        </div>
                </div>
                <div class="form-group row">
                        <label for="priority-level" class="control-label col-sm-4 col-form-label" style="font-family:Galada"><b>Session tasks priority</b></label>
                        <div class="col-sm-7">
                            <select multiple class="form-control" id="priority-level" v-model="newSession.priorityRank">
                                <option>1 (Urgent and Important)</option>
                                <option>2 (Urgent, not Important) </option>
                                <option>3 (Important, not urgent)</option>
                                <option>4 (Not Important, not urgent)</option>
                            </select>
                        </div>
                </div>
                <button type="submit" class="btn btn-primary" class="button" v-on:click="addNewSession">Submit</button> 
                </form>
                </div>
                </div>
                <div class="calign" id="root1">
                <div class="card d-block p-2" style="margin-top: 2%">
				<div class="panel-body">
					<h3 class="card-header">User sessions at this station</h3>
						<table class="table table-striped">
							<thead>
								<tr style="font-family:Galada">
									<th>User Name</th>
									<th>Session Name</th>
									<th>Session Date</th>
									<th>Goals</th>
									<th>Priority Rank</th>
									<th>Start Time</th>
									<th>End Time</th>
								</tr>
							</thead>
							<tbody style="font-family:Roboto">
								<tr v-for="session in sessions">
									<td>{{session.username}}</td>
									<td>{{session.sessionName}}</td>
									<td>{{session.sessionDate}}</td>
									<td>{{session.goals}}</td>
									<td>{{session.priorityRank[0]}}</td>
									<td>{{session.startTime}}</td>
									<td>{{session.endTime}}</td>
								</tr>
							</tbody>
						</table>
                </div>
                </div>
            </div>
    </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.16/vue.js"></script>     
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/4.12.1/firebase.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="main.js"></script>
</body>
</html>

